body{
    margin :0;
    background: linear-gradient(to right, #68397e, #13cfa6);
}
.main-title{
    text-align: center;
    color: white;
    font-size: 40px;
    margin: 20px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.navbar ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(122, 173, 218);
    padding: 10px;
}
.navbar li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-content{
    align-items: center;
    justify-content: center;
    height: 80vh;

}
.main-content h1{
    text-align: center;
    font-size: 100px;
    color: rgb(51, 102, 168);
    margin-top: 20%;
    animation: FadeExpand 2s ease-in-out;
}
@keyframes FadeExpand {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.main-content p{
    text-align: center;
    font-size: 20px;
    color: rgb(202, 32, 32);
}
.food p{
    font-size:20px;
}
.price{
    float:right;
    font-size:30px;
    color: rgb(0, 0, 0);
    
}
/*.food {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border:2px solid #474545;

}*/


.f1 {
    display: flex;
    align-items: flex-start;
    border: 1px solid black;
    box-shadow: 10px 10px 5px grey;
    width: 100%;
    background-color: rgb(71, 71, 141);
    margin-bottom: 20px;
    padding: 10px;
}

.f1-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.f1-content h1 {
    margin-bottom: 10px;
}

.f1-content p {
    margin: 0 0 10px 0;
}

.f1 img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
}

.f1 h1, .f1 p {
    margin: 0 10px 0 0;
}

.price {
    margin-left: 0;
    align-self: flex-end;
    font-size: 30px;
    color: rgb(0, 0, 0);
    float: none;
}
/*Controlling aspect ratio on small screens*/
@media (max-width: 600px) {
    .f1 img {
        width: 100%;
        height: auto;
        margin-right:0;
         margin-bottom:10px;
    }.f1{
    flex-direction: column;
    align-items: flex-start;
    border:none;
    padding:10px;
}
.navbar ul{
    flex-direction: column;
    align-items: flex-start;
}
.price{
    margin-left:0;
    align-self:flex-end
}
.main-content h1{
    font-size: 2em;

}
body{
    background: linear-gradient(to bottom, #68397e, #13cfa6);
    font-size: 14px;
}
}